.mt-3 {
  margin-top: 3rem;
}

.breaker--large {
  border-width: 10px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-items-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.borders {
  border: 4px solid var(--pico-muted-border-color);
  border-radius: 5px;
}

.p-15 {
  padding: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.Toastify__toast {
  background-color: #232831;
}
